@model IEnumerable<Project3.Models.OrderDetailViewModel>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Book Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.BookName</td>
                <td>@item.Quantity</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Total.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
