@model IEnumerable<Project3.Models.Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Your Cart</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.book_name)</th>
        <th>@Html.DisplayNameFor(model => model.image)</th>
        <th>@Html.DisplayNameFor(model => model.price)</th>
        <th>@Html.DisplayNameFor(model => model.quantity)</th>
        <th>@Html.DisplayNameFor(model => model.Total)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.book_name)</td>
            <td>
                <img src="@Url.Content("~/Content/images/" + item.image)" width="100" />
            </td>
            <td>@String.Format("{0:0.00}", item.price) USD</td>
            <td>
                @using (Html.BeginForm("CartUpdate", "Cart", new { @id = item.book_id }))
                {
                    <input type="number" name="txtQuantity" value="@item.quantity" />
                    @Html.DisplayFor(modelItem => item.Total)
                    <input type="submit" value="Update" class="btn btn-success" />
                }
            </td>
            <td>@Html.ActionLink("Delete", "CartDelete", new { @id = item.book_id })</td>
        </tr>
    }
</table>

<table>
    <tr style="font-weight:bold; text-align:left; color:red">
        <td colspan="2">Quantity Sum: @ViewBag.SumQuantity</td>
        <td colspan="2">Total: @String.Format("{0:0.00}", @ViewBag.Total) USD</td>
    </tr>
    <tr>
        <td style="font-weight:bold; color:blue; text-align:right">
            @Html.ActionLink("AllCartDelete", "AllCartDelete")
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold; color:yellow; text-align:right">
            @Html.ActionLink("Back to Cart", "Cart", "Cart")
        </td>
    </tr>
</table>

@using Project3.Models;

<h2 style="text-align:center">Information of Place an order</h2>

@{
    customer kh = (customer)Session["User"];
}

<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td style="font-weight:bold">Customer name:</td>
            <td>@kh.customer_name</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold">Email:</td>
            <td>@kh.email</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold">Address:</td>
            <td>@kh.address</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold">Number phone:</td>
            <td>@kh.numberphone</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold">Order date:</td>
            <td>@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold">Delivery date:</td>
            <td><input type="date" name="delivery_date" /></td>
        </tr>
        <tr style="height:40px">
            <td style="font-weight:bold">
                <input type="submit" value="Confirm" class="btn btn-success" />
            </td>
        </tr>
    }
</table>